{% extends 'base.html' %}


{% block content %}
<div class="container">
    <br><br><br>
    <div class="container">
        <main class="role">
            {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <li{% if message.tags %} class="alert alert-success"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
            <hr>

            {% for todo in todos %}
            <article class="media content-section">
                <div class="media-body">
                    <div class="article-metadata">
                        <a href="{% url 'task:view_note' todo.id %}" style="text-decoration-color: #6c757d!important;">
                            <h2 class="text-secondary text-underline-secondary">{{ todo.title }}</h2>
                        </a>
                        {% if note.completed %} <span class="badge badge-success">completed</span> {% else %} <span class="badge badge-secondary">not completed</span> {% endif %}
                    </div>
                </div>
            </article>
            <hr>
            {% endfor %}
            <br>

            <!-- Pagination -->
            {% if todos.has_other_pages %}
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    {% if todos.has_previous %}
                        <li class="page-item"><a href="?page={{ todos.previous_page_number }}">&laquo;</a></li>
                        {% else %}
                        <li class="page-item disabled"><span>&laquo;</span></li>
                    {% endif %}

                    {% for i in todos.paginator.page_range %}
                        {% if todos.number == i %}
                            <li class="active page-item">
                                <span>{{ i }}<span class="sr-only">(current)</span></span>
                            </li>
                        {% else %}
                            <li><a href="?page={{ i }}" class="page-link">{{ i }}</a></li>
                        {% endif %}
                    {% endfor %}

                    {% if todos.has_next %}
                        <li class="page-item">
                            <a href="?page={{ todos.next_page_number }}" class="page-link">&raquo;</a>
                        </li>
                        {% else %}
                        <li class="page-item disabled">
                            <span>&raquo;</span>
                        </li>
                    {% endif %}
                </ul>
            </nav>
            {% endif %}
              <!-- End of Pagination -->

        </main>
    </div>
    <br>

    <div class="container">
        <a href="{% url 'task:create_note' %}" class="btn btn-dark btn-fill float-right" style="color: white;">Add</a>
    </div>

</div>
{% endblock %}